@use '../global.scss' as glob;

.container {
  padding: 40px;
  font-size: 1.4rem;
}

.wordArea {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-weight: bold;
  color: rgb(103, 103, 103);
}

.correct {
  color: glob.$green;
}

.wrong {
  color: red;
}

.current {
  color: blue;
  border-bottom: 2px solid blue;
}

.input {
  padding: 10px;
  font-size: 1rem;
  margin-top: 50px;
  border-style: none;
  width: 100%;
  height: 300px;
}
