@use '../global.scss' as glob;

.divider {
  display: flex;
  gap: 75px;
  padding: 75px;
  font-size: 1.4rem;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.correct {
  color: glob.$green;
}

.wrong {
  color: red;
}

.current {
  color: blue;
  border-bottom: 2px solid blue;
}

.input {
  font-size: 1.4rem;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 15px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.input:active {
  border: 1px solid white;
}
