@use '../global.scss' as glob;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stretch {
  flex: 1;
}

.navLink {
  text-decoration: none;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
}

.navLinkActive {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  width: 100px;
  text-align: center;
}

.navLink:hover,
.navLinkActive:hover {
  text-decoration: none;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.iconArea {
  font-size: 1.2rem;
  display: flex;
  gap: 15px;

  a:visited {
    color: white;
  }

  a:hover {
    font-size: 1.7rem;
  }
}
