@use '../global.scss' as glob;

.container {
  background-color: glob.$green;
  color: white;
  font-size: 1.2rem;
  min-width: 200px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid black;
}
