@use '../global.scss' as glob;

.container {
  background-color: glob.$green;
  color: white;
  font-size: 1.2rem;
  min-width: 275px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.timerSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 2px;
}

.pair {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.bigFont {
  font-size: 1.4rem;
}